.button {
    padding: 5px 7px; 
}
.bg-hidder { 
    max-width: 1210px;
}
.pisi {
    position: fixed;
    z-index: 999;
    /* left: -4rem; */
    /* background-color: transparent; */
    /* background-color: aquamarine; */
    padding: 0.5rem 2rem;
    width: 100%;
    transition: all 0.5s;
    margin: 0 auto;
}

.posisi {
    position: fixed;
    z-index: 999;
    background-color: rgb(22 163 74);
    box-shadow: 12px 0px 10px 10px rgba(25, 124, 66, 0.474);
    /* width: 90rem; */
    /* margin: 0 auto; */
    /* left: -2rem; */
    /* top: 0rem; */
    /* padding: 0.5rem 7rem; */
    transition: all 0.5s;
}

.posisi .button:hover {
    color: #08090E;
}
.posisi .Dev {
    color: #08090E;
}
.grid-35-65 {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
.menu {
    position: relative;
}


@media (max-width: 730px) {
    .bg-hidder { 
        max-width: 900px;
    }   
    .grid-35-65 {
        grid-template-columns: 1fr 1fr;
    }
    .menu {
        position: absolute;
        width: 100%;
        right: -100%;
        border-radius: 30rem;
        top: 0;
        text-align: center;
        transition: all 0.3s ease-in-out;
        filter: opacity(95%);
        /* filter:blur(4px); */
        background-color: rgb(24, 34, 73);
    }
    .mamat {
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: 100%;
        right: 0%;
        top: 0;
        text-align: center;
        border-radius: 0rem;
    }
}
@media (max-width: 645px) {
    .bg-hidder { 
        width: 100%;
        /* background-color: aqua; */
    }   
    .mimin .menu {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
    }
    .grid-35-65 {
        grid-template-columns: 1fr 1fr;
    }
}