.rows {
    grid-template-rows: 1fr;
}

@media (max-width: 1536px) {
    .rows {
        grid-template-rows: 1fr;
    }
}
@media (max-width: 640px) {
    .rows {
        grid-template-rows: 4rem 5rem;
    }
}